.core-content #clicktocall-container .app-header .app-navbar-wrapper, .core-content #clicktocall-container.app-layout .app-content-wrapper {
    max-width: 100% !important;
}

.monster-button-primary {
    color: var(--textColor1) !important;
    border-color: var(--buttonColor1) !important;
    background: var(--buttonColor1) !important;
    border-radius: 0.25rem;
    font-family: var(--fontOverride) !important;
}

.monster-table-wrapper-hoverable table.monster-table thead {
    vertical-align: bottom;
}

.core-content #clicktocall-container .app-content-wrapper #callerid_manipulation_app_container .monster-table .footable-filtering th form {
    padding-bottom: 30px !important;
}

.core-content #clicktocall-container .app-content-wrapper #callerid_manipulation_app_container .monster-table .footable-header th:first-child {
    border-left: 1px solid #e0e0e9 !important;
}

.core-content #clicktocall-container .app-content-wrapper #callerid_manipulation_app_container .monster-table .footable-header th {
    border-top: 1px solid #e0e0e9 !important;
    background-color: var(--backgroundColor3) !important;
    color: var(--textColor3) !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: var(--fontOverride) !important;
    height: 30px !important;
}

.core-content #clicktocall-container .app-content-wrapper #callerid_manipulation_app_container .monster-table-wrapper-hoverable table.monster-table tbody tr {
    background-color: var(--backgroundColor2) !important;
}

.core-content #clicktocall-container .app-content-wrapper #callerid_manipulation_app_container .monster-table-wrapper-hoverable table.monster-table tbody tr:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

table.monster-table thead .footable-header th {
    border: 0;
    color: #777;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 12px;
}

.core-content #clicktocall-container .app-content-wrapper #callerid_manipulation_app_container [class*=monster-button-ghost], .core-content #dynamic_callerid_app_container .app-content-wrapper #callerid_manipulation_app_container [class*=monster-button-ghost]:hover {
    color: var(--buttonColor2) !important;
    background: var(--backgroundColor2) !important;
}

#callerid_manipulation_app_container_dialog .edit-rule {
    padding: 24px 16px;
}

form {
    margin: 0 0 20px;
}

#callerid_manipulation_app_container_dialog .edit-rule .row-fluid {
    margin-bottom: 15px;
}

#callerid_manipulation_app_container_dialog .edit-rule .title {
    font-size: 14px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#callerid_manipulation_app_container_dialog .edit-rule input {
    width: 627px;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 4px;
}

#callerid_manipulation_app_container_dialog .edit-rule select {
    width: 639px;
    margin-bottom: 5px;
    height: 39.33px;
    border-radius: 4px;
}

.pull-right {
    float: right;
}

.monster-link.blue {
    color: #2297ff !important;
}

#callerid_manipulation_app_container_dialog .edit-rule .btn-save {
    margin-left: 20px;
}

.monster-switch > input:checked ~ span span:first-child, .monster-switch > input:not(:checked) ~ span span:last-child {
    font-family: Arial, Helvetica, sans-serif;
}

